<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'notes/style.css' %}">
</head>
<body>
    <div class="container">
        
        <div class="notes">
            <h5>Notes</h5>
            {% for title in titles %}           
            <div class="inside">
                
                <p id="titlename">{{ title.label }}</p>   <a href="/delete/{{title.id}}"><button>delete</button></a> 

    <form action="adddesc/{{title.id}}" method="post" id="{{title.id}}">
        {% csrf_token %}
        <textarea id = "desc" name="desc">{{desc.text}}</textarea>
    </form>
               
            </div>
            {% endfor %}
        </div>
    </div>        
    <script>
        $(document).on('click', '#desc', function(e){
            e.preventDefault()
            $(this).mouseleave(function(){
                $.ajax({
                    url : $(this).parent().attr('action'),
                    method : 'post',
                    data : $(this).parent().serialize(),
                    success : function(serverResponse){
                        console.log(serverResponse)
                        $('#desc').append(serverResponse)
                    }
                })
            })
        })
    </script>

        

        <div class="addnotes">
            <form action="/addnotes" method="post" id="addbutton">
                {% csrf_token %}
                <input type="text" name="title" placeholder="Insert note title here">
                <p><input type="submit" value="Add Note"></p>
            </form>
        </div>

    </div>
    <script>
        $('#addbutton').submit(function(e){
            e.preventDefault()
            $.ajax({
                url : $(this).attr('action'),
                method : 'post',
                data : $(this).serialize(),
                success : function(serverResponse){
                   $('#titlename').append(serverResponse);
                   

                }
            })
        })
    </script>
</body>
</html>