#addnotes {
    width: 300px;

}

input[type="submit"]{
    background-color: blue;
    color: white;
    padding: 2px 8px;
    border-radius: 4px;

}


textarea {
    width: 200px;
    overflow: scroll;
}